.App{
  margin:40px auto;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:20px auto;
 

}

@media (max-width:990px){
  .container{
  flex-direction:column;
  }
}
